<div class="container">

        <div class="inputform">
                <input placeholder="type Username" [(ngModel)]=name>
                <button (click)="submitInput()">Search</button>
            </div>
            
            
    <div class="row">
        <blockquote class="text-center text-lg">
        
        <p><img src="{{user.avatar_url}}"></p>
        <p appStrikethrough>User name :{{user.name}}<br>last seen{{user.completeDate|date}}<br>{{user.completeDate|dateCount|uppercase}} days</p>
       <p appStrikethrough>Repositories : {{user.public_repos}}<br>{{user.completeDate|dateCount}} days</p>
        <p appStrikethrough>Followers : {{user.followers}}<br>
                {{user.completeDate|dateCount}} days
        </p>
       <p appStrikethrough>Following : {{user.following}}<br>
            last following{{user.completeDate|date|uppercase}}
       </p>
        <p appStrikethrough>URL : {{user.html_url}}</p>
            
        </blockquote>
    </div>

    
<app-user-form></app-user-form>
<app-not-found></app-not-found>
</div>
