.container{
    background-color: gray;
    border-radius: 2%;
    background-size: cover;
    justify-content: center;
}
/* img{
    border-radius: 60%;
    justify-content: center;
    height: 80;
    width: 80;
    padding-right: 30px;
} */
.view {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 60%;
  }
  .inputform{
      padding-top: 20px;
      padding-bottom: 10px;
      border-radius: 0.9%;
  }